body, h1, h2, h3, p {
    font-family: 'Montserrat', sans-serif;
}

header, section {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 30px;
    height: 40vh;
}



#bg-primary {
    background-image: url('/images/axio-banner.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (max-width: 700px) {
    #bg-primary {
        background-position: 15% center;
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.glow {
    box-shadow: 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de;
}

.title {
    color: #fff;
    font-size: 3.5em;
    font-weight: 900;
    padding-left: 20px;
    margin-top: 55px;
}

#lead {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 10px;
}

.bold {

    font-size: 1.8em;
    font-weight: 700;
}

.intro-line {
    font-size: 1.4em;
}

#product-introduction {
    background-color: rgba(79, 0, 82, 0.3);
    margin-bottom: 0;
}

.main-image {
    background-color: transparent;
}

.intro {
    line-height: 1.7;
    font-size: 1.3em;
    text-align: justify;
}

.content {
    text-align: justify;
    font-size: 1.1em;
    color: #000;
    font-weight: 500;
}



.display-4 {
    color: #4A148C;
}

#bg-light {
    background-color: #F3E5F5;
}

.footer-primary {
    background-color: #800080;
    color: #ffffff;
}

.subtitle {
    color: #fff;
    font-size: 4em;
}

.subtitle-dark {
    color: #000;
    font-size: 4em;
}

#ingredients-section {
    background-color: #800080;
}

.ingredient-img {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 40%/15% 85% 55% 75%;
    margin-left: 15%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-border-radius: 40%/15% 85% 55% 75%;
    -moz-border-radius: 40%/15% 85% 55% 75%;
    -ms-border-radius: 40%/15% 85% 55% 75%;
    -o-border-radius: 40%/15% 85% 55% 75%;
}


.row {
    padding: 0 15px;
    /* Adds 15px padding on the left and right of the row */
}

.product-info {
    background-color: #800080;
}

.energy-section-container {
    background-color: #F3E5F5;
    border-radius: 40%/15% 85% 55% 75%;
    padding: 40px;
    min-height: 380px;
    border: 2px solid #800080;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fuel-section-container {
    background-color: #F3E5F5;
    border-radius: 40%/15% 85% 55% 75%;
    padding: 40px;
    min-height: 380px;
    border: 2px solid #800080;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convenience-section-container {
    background-color: #F3E5F5;
    border-radius: 40%/15% 85% 55% 75%;
    padding: 40px;
    min-height: 380px;
    border: 2px solid #800080;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




img {
    margin-bottom: 20px;
}


.section-container h3 {
    color: #4A148C;
    font-size: 2em;
    font-weight: 700;
    padding-top: 10px;
    text-align: center;
}

.section-container p {
    font-size: 1em;
    color: #6A1B9A;
    line-height: 1.5;
}

.svg-container {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: calc(320 / 1440 * 100%);
    overflow: hidden;
    background-color: rgba(79, 0, 82, 0.3);

}

.svg-container svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

}

#contact-section {
    background-color: rgb(149, 23, 172, 0.5);
}

.contact-title {
    font-size: 2em;
}

.form-control {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#name, #email, #message {
    background-color: rgba(226, 226, 226, 0.7);
    border: none;
}

.btn-axio {
    background-color: #800080;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 700;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* margin-top: 20px; */
    text-decoration: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.btn-axio:hover {
    background-color: #660066;
    color: white;
}

.disclosure {
    font-size: 0.6em;
    padding: 10px;
}

@media (min-width: 992px) {
    .section-container {
        margin-bottom: 50px;

    }
}